body {
    font-family: Georgia, "Times New Roman", serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #111;
    line-height: 1.7;
}

.navbar {
    background-color: #111;
    padding: 18px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 25px;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 60px 20px;
}

h1, h2, h3 {
    font-weight: normal;
}

.blog-list-item {
    margin-bottom: 40px;
}

.blog-list-item a {
    text-decoration: none;
    font-size: 22px;
    color: #111;
}

.blog-list-item a:hover {
    text-decoration: underline;
}

.meta {
    color: gray;
    font-size: 14px;
    margin-bottom: 10px;
}

.back-link {
    margin-top: 40px;
    display: inline-block;
}
